
body {
    margin: o;
    padding: 0;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.navigation {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    width: 100%;
    background-color: #0A2647;
    padding: 20px;
    display: flex;
    align-items: center;
    height: 50px;
    text-align: center;
    position: fixed;
    z-index: 999; /* Ensure navigation appears above other content */
    justify-content: space-between;
}

#topic{
    display: none;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #352F44;
    font-size: 50px;
    margin-bottom: 12px;
    font-style: inherit;
}

.logo-container {
    width: 200px;
    max-width: 250px;
}

.logo {
    width: 100%;
    height: auto;
}

.title-container {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.list li {
    margin-top: 10px;
    margin-right: 20px;
}

.list li:last-child {
    margin-right: 0;
}

.list li a {
    color: #a0a7e4;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
}

.list li a:hover {
    color: rgb(2, 18, 77);
    background-color: #f8f8f8;
    padding: 8px;
    border-radius: 10px;
}

.search-container {
    width: 35%;
    min-height: 30px;
    padding: 5px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    border-radius: 60px;
    backdrop-filter: blur(5px) saturate(180%);
    justify-content: space-between;
}

.search-container input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    color: white;
    padding-right: 10px; /* Adjust padding for input */
}

.search-container button {
    border: 0;
    border-radius: 60px;
    background: transparent;
    padding: 0;
    margin-left: 10px; /* Add margin to the left */
}

.search-container button img {
    width: 30px;
    border: 0;
    border-radius: 60px;
    background: #FFFFFF;
    cursor: pointer;
}


.user {
    cursor: pointer;
    height: 45px;
    margin-right: 50px;
    width: 45px;
    justify-content: space-between;
}

/* footer css */
footer {
    background-color: #0A2647;
    color: #f8f8f8;
    width: 100%;
    padding: 5px;
    height: auto;
    justify-content: center;
}
.footer_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.footer_list li {
    margin-top: 0px;
    margin-right: 20px;
}

.footer_list li:last-child {
    margin-right: 10px;
}

.footer_list li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding-right: 20px;;
}

.footer_list li a:hover {
    color: black;
}

/* footer line 1 */
.footerLine1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer h4{
    padding-left: 10px;
}
.medi{
    width: 30px;
    padding-top: 10px;
    padding-right: 15px;
    cursor: pointer;
}
.media-icons{
    margin-right: 20px;
}
.media-icons{
    display: flex;
}

.footerLine2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_list{
    margin-left: auto;
}


/*  */
/*  */

.menu-icon{
    display: none;
}

.editor{
    text-decoration: none;
    color: white;
}

.list .active {
    background-color: #f8f8f8;
    padding: 8px;
    border-radius: 10px;
}

.page{
    padding-top: 60px;
    margin-right: -10px;
}


@media screen and (max-width: 1000px) {
    .menu-icon {
        display: block;
        margin-left: 10px;
        color: white;
        cursor: pointer;
        font-size: 30px; 
        padding-right: 10px;
        float: left;
        padding-top: 15px;
    }

    .navigation {
        height: 30px;     
    }
    #topic{
        display: flex;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bolder;
        color: #faf8fd;
        font-size: 30px;
        margin-top: 10px;
        font-style: inherit;
        text-decoration: none;
        text-shadow: 
            -1px -1px 0 #000,  
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }
    .search-container{
        display: none;
    }

    .title-container {
        position: absolute;
        justify-content: space-between;
        align-items: left;
        flex-grow: 1;
        flex-basis: 100%;
        margin-top: 0;
        padding: 0px;
    }
  
    .logo-container {
        display: none;
    }

    #topic {
        padding-top: 10px;
        font-size: 30px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        margin-right: auto;
    }

    .list {
        display: none;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: #0A2647;
        left: 0;
        padding: 5px;
        border-radius: 10px;
    }

    .list.show {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding-left: 10px;
        width: 100%;   
    }
    .list li{
        margin-bottom: 10px;
    }

    .list li a {
        color: #a0a7e4;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        padding: 5px;
        border-radius: 10px;
        align-items: left;
    }
    
    .user {
        display: block;
        position: absolute;
        top: 10px;
        right: 25px;
    }

    .footer_list{
        display: flex;
        margin-right: 0; 
        margin-bottom: 5px; 
        flex-direction: column;
    }
    .footer_list li{
        padding-bottom: 5px;
    }

}
